{% extends "base.html.twig" %}

{% block page_title %}Tableau {{ tableau.getTitre() }}{% endblock %}

{% block page_content %}
    <div class="trello-main">
        <aside>
            {# TODO: faire les liens #}
            <div class="utilisateur icons_menu">
                <span> {{ utilisateur.getPrenom()}} {{ utilisateur.getNom()}}</span>

                {% if estProprietaire %}
                <span><a href="{{ route("afficherFormulaireMiseAJour") }}"><img class="icon" src="{{ asset("../ressources/img/editer.png") }}" alt="Modifier l'utilisateur"></a></span>
                {% endif %}
            </div>
            <div class="tableau">

                <div class="icons_menu">
                    <span>{{ tableau.getTitreTableau }}</span>
                </div>
                <div class="participants">
                    Membres :
                    <ul>
                        <li>{{ utilisateur.getPrenom() }} {{ utilisateur.getNom() }}</li>
                        {% for participant in participants %}
                        <li>
                            <div class="icons_menu_stick">
                                {{ participant.getPrenom()}} {{ participant.getNom() }}

                                {% if estProprietaire %}
                                <span class="actions">
                                    <a href="{{ route("supprimerMembre", {"login" : participant.getLogin(), "idTableau" : tableau.getIdTableau()})}}"><img class="icon" src="{{ asset("../ressources/img/x.png") }}" alt="Retirer le membre"></a>
                                </span>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                        <?php

                        {% if estProprietaire %}
                        <li><a href="{{ route("afficherFormulaireAjoutMembre", {"idTableau" : tableau.getIdTableau()}) }}">Ajouter un membre</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="participants">
                    Travail en cours :
                    <ul>
                        {% for participant in participants %}
                        <li>
                            <div>{{ participant["info"].getPrenom() }} {{ participant["info"].getNom() }}</div>
                            <ul>
                                {% for colonne in participant["colonnes"] %}
                                <li>{{ colonne[1] }} {{ colonne[0]}} </li>
                            </ul>
                        </li>
                                {% endfor %}
                        {% else %}
                        <span><strong>Pas de travail en cours</strong></span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
        <article>
            {# TODO: le article en entier #}

            <div class="tableau">
            <div class="titre icons_menu">
                {{ tableau.getTitre() }}
                {% if estParticipantOuProprietaire %}
                <span class="actions">
                        <a href="{{ route("afficherFormulaireMiseAJourTableau", {"idTableau" : tableau.getIdTableau()}) }}"><img class="icon" src="{{ asset("../ressources/img/editer.png") }}" alt="Éditer le tableau"></a>
                </span>
                {% endif %}
            </div>
            <div class="corps">
                <?php for ($i=0;$i<count($data);$i++) {?>
                {% for i in data|length %}
                <div class="colonne">
                    <div class="titre icons_menu">
                        <span>{{ colonne[i].getTitreColonne() }}</span>
                        {% if estParticipantOuProprietaire %}
                        <span class="actions">
                        <a href="{{ route("afficherFormulaireMiseAJourColonne", {"idColonne" : colonne.getIdColonne()}) }}"><img class="icon" src="{{ asset("../ressources/img/editer.png") }}" alt="Éditer la colonne"></a>
                        <a href="{{ route("supprimerColonne", {"idColonne" : colonne.getIdColonne()}) }}"><img class="icon" src="{{ asset("../ressources/img/x.png") }}" alt="Supprimer la colonne"></a>
                    </span>
                        {% endif %}
                    </div>
                    <div class="corps">
                        {% for carte in data[i] %}
                        <div class="carte" style="background-color: {{ carte.getCouleurCarte() }}">
                            <div class="titre icons_menu">
                                <span>{{ carte.getTitreCarte() }}</span>
                                {% if estParticipantOuProprietaire %}
                                <span class="actions">
                                <a href="{{ route("afficherFormulaireMiseAJourCarte", {"idCarte" : carte.getIdCarte()}) }}"><img class="icon" src="{{ asset("../ressources/img/editer.png") }}" alt="Éditer la carte"></a>
                                <a href="controleurFrontal.php?action=supprimerCarte&controleur=carte&idCarte=<?= $carte->getIdCarte()?>"><img class="icon" src="{{ asset("../ressources/img/x.png") }}" alt="Supprimer la carte"></a>
                            </span>
                                {% endif %}
                            </div>
                            <div class="corps">
                                {{ carte.getDescriptifCarte() }}
                            </div>
                            <div class="pied">
                                {% for utilisateur1 in carte.getAfectationCarte %}
                                <span>{{ utilisateur1.getPrenom()[0]}} {{ utilisateur1.getNom()[0]}} </span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}

                        {% if estParticipantOuProprietaire %}
                        <a class="ajout-tableau" href="controleurFrontal.php?action=afficherFormulaireCreationCarte&controleur=carte&idColonne=<?=$colonnes[$i]->getIdColonne()?>">
                            <div>
                                <div class="titre icons_menu btn-ajout">
                                    <span>Ajouter une carte</span>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% if estParticipantOuProprietaire %}
                <a class="ajout-tableau" href="controleurFrontal.php?action=afficherFormulaireCreationColonne&controleur=colonne&idTableau=<?=$tableau->getIdTableau()?>">
                    <div class="colonne">
                        <div class="titre icons_menu btn-ajout">
                            <span>Ajouter une colonne</span>
                        </div>
                    </div>
                </a>
               {% endif %}
            </div>
        </div>
        </article>
    </div>

{% endblock %}