{% extends "base.html.twig" %}

{% block page_title %}Modification du profil{% endblock %}

{# TODO: changer pour préremplir les champs #}
{% block page_content %}
    <div>
        <form method="post" action="{{ route("accueil") }}">
            <fieldset>
                <h3>Mise à jour du profil</h3>
                <p >
                    <label  for="login_id">Login&#42;</label>
                    <input  type="text" value="{{ utilisateur.getLogin() }}" minlength="3" maxlength="30" placeholder="Ex : rlebreton" name="login" id="login_id" readonly>
                </p>
                <p >
                    <label  for="prenom_id">Prenom&#42;</label>
                    <input  type="text" value="{{ utilisateur.getPrenom() }}" minlength="1" maxlength="30" placeholder="Ex : Romain" name="prenom" id="prenom_id" required>
                </p>
                <p >
                    <label  for="nom_id">Nom&#42;</label>
                    <input  type="text" value="{{ utilisateur.getNom }}" minlength="1" maxlength="30"  placeholder="Ex : Lebreton" name="nom" id="nom_id" required>
                </p>
                <p >
                    <label  for="email_id">Email&#42;</label>
                    <input  type="email" value="{{ utilisateur.getEmail() }}" maxlength="255" placeholder="rlebreton@yopmail.com" name="email" id="email_id" required>
                </p>
                <p >
                    <label  for="mdpAncien_id">Ancien mot de passe&#42;</label>
                    <input  type="password" value="{#<?= $passwordHTML ?>#}" placeholder="" name="mdpAncien" id="mdpAncien_id" required>
                </p>

                <input type='hidden' name='login' value='{#<?= $loginHTML ?>#}'>
                <input type='hidden' name='action' value='mettreAJour'>
                <input type='hidden' name='controleur' value='utilisateur'>
                <p>
                    <input type="submit" value="Mettre à jour"/>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}